.card-holder{
    position: relative;
}

.card-holder .card{
  margin: auto;
  position: relative;
  width: 15em;
  height: 16em;
  background-image: linear-gradient(to right, #F44B89 0%, #5A54F6 100%);
  border-radius: 20px;
  overflow: hidden;
}

.card-holder .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #736BFF;
  clip-path: circle(150px at 80% 20%);
  transition: 0.3s ease-in-out;
}

.card-holder .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.card-holder .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 100%;
  height: 220px;
  transition: 0.2s;
}

.card-holder .card:hover .imgBx{
  top: 10%;
  transform: translateY(0%) rotate(20deg);
  /* transform: scale(1.2); */
    
}

.card-holder .card .imgBx img{
  position: absolute;
  top: -30%;
  left: 20%;
  /* transform: translate(-50%, -50%) rotate(-25deg); */
  width: 200px;
}

.card-holder .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 0.3s;
  z-index: 10;
}

.card-holder .card:hover .contentBx{
  height: 170px;
}

.card-holder .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.card-holder .card .contentBx .size, .card-holder .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.1s; opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.card-holder .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.1s;
  margin-top: 0.5rem;
}

.card-holder .card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.1s;
}

.card-holder .card .contentBx .size h3{
  color: #fff;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 2px;
  margin-right: 10px;
}

.card-holder .card .contentBx .color h3{
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
  margin-right: 10px;
}

.card-holder .card .contentBx a{
  display: none;
  background: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  color: #000;
  opacity: 12;
}

.card-holder .card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.2s;
  display: inline-block;
}

.robot-name{
  font-size: 1.3rem;
}

.btn-container{
  margin: 0 10px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-row-gap: 1em;
  grid-column-gap: 0.5em;
}
