.bnc{
    background-image: linear-gradient(to right, #F44B89 0%, #5A54F6 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: #fff;
    height: 50px;
    font-size: 0.9em;
    padding: 4px;
}